body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease;
}

.container
{
    width: 480px;
    height: 120px;
}

#fake_input 
{
    width: inherit;
    height: inherit;
    background-color: #eee;
    position: absolute;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

#input
{
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: left;
    z-index: 1000;
    background-color: transparent;
    border-color: transparent;
    caret-color: transparent;
    color: transparent;
    font-size: 1px;
}

#input:focus
{
    outline: none;
}


#caret
{
    width: 8px;
    height: 56px;
    transition: 0.5s ease;
    order: 1;
    opacity: 1;
    animation: caretAnimation 1s ease infinite;
}

@keyframes caretAnimation
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
}