body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.5s ease;
}

.container
{
    width: 480px;
    height: 120px;
}

#fake_input 
{
    width: inherit;
    height: inherit;
    background-color: #fff;
    position: absolute;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    transition: 0.5s ease;
}

#input
{
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: left;
    z-index: 1000;
    background-color: transparent;
    border-color: transparent;
    caret-color: transparent;
    color: transparent;
    font-size: 1px;
}

#input:focus
{
    outline: none;
}

#caret
{
    width: 8px;
    height: 56px;
    transition: 0.5s ease;
    order: 1;
    opacity: 1;
    display: none;
    animation: caretAnimation 1s ease infinite;
}

.letter
{
  animation: letter 0.5s ease;
}

@keyframes caretAnimation
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
}

.be_focused 
{
  box-shadow: 0px 100px 100px rgba(0,0,0,0.2);
}

#placeholder
{
  opacity: 0.3;
  position:absolute;
}

.stop_caret_animation
{
  animation-name: none;
}

@keyframes letter
{
  0%
  {
    opacity: 0;
    transform: scale(0.8);
  }
  100%
  {
    opacity: 1;
    transform: scale(1);
  }
}